<h2>List of ratings</h2>

Total of <%= @ratings.count %> ratings given

<ul>
  <% @ratings.each do |rating| %>
    <li> <%= rating %> <%= link_to rating.user.username, rating.user %> </li>
  <% end %>
</ul>

<%= link_to 'New Rating', new_rating_path if current_user %>