<h2>List of ratings</h2>

<ul>
  <% @ratings.each do |rating| %>
    <li> <%= rating %> <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %> </li>
  <% end %>
</ul>

<%= link_to 'New Rating', new_rating_path %>